* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.categories-list {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
}
.item {
  width: 392px;
  height: auto;
}
.item-caption {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  height: 32px;
  margin-bottom: 16px;
  padding: 16px;
}
.item-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  padding: 16px;
}
.item-list-entry {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
  max-width: 1128px;
  margin: 0 auto;
}
.gallery-item {
  width: 360px;
  height: 300px;
}
.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name-input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
}
.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 8px;
}
.form-btn,
.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: none;
}
.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 80px;
}
